<p id="notice">
	<% if notice %>
		<% if notice =~ /^[0-9]*$/ %>
			Maximum: <%= number_to_currency notice, precision: 0 %>
		<% else%>
			<%= notice %>
		<% end %>	
	<% end %>
</p>

<% if cookies[:whoami] == 'alain' %>
	<%= form_tag params[:action] do |f| %>
		<%= label_tag 'Salary max:' %>
		<%= text_field_tag  :salary_max %>
		<%= submit_tag "Filter" %>
	<% end %>
<% end %>

<br>

<table>
	<thead>
		<tr>
			<th>My Rank</th>
			<th>Name</th>
			<th>Team</th>
			<th>Pos</th>
			<th>GP</th>
			<th>Points</th>
			<th>Gol</th>
			<th>Ass</th>
			<th>Salary</th>
			<th>PP</th>
			<th>Even</th>
			<th>Draft</th>
			<th>D Pos</th>
			<th>Age</th>
			<th>Year left</th>
			<th>Info</th>
			<th>dff</th>
			<th>rel dff</th>
			<th>g60</th>
			<th>p60</th>
			<th>Edit</th>
			<th>Pooler</th>
			<th>Rank</th>
		</tr>
	</thead>
	<tbody>
		<% @players.each do |player| %>
	<tr style='background-color:<%=player.color%>' id='<%= player.id %>'>
			<% unless action_name == 'skaters_global' %>
				<td><%= player.my_rank_position %></td>
			<% else %>
				<td><%= player.my_rank_global %></td>
			<% end %>
			<td><%= player.name %></td>
			<td><%= player.team %></td>
			<td><%= player.position %></td>
			<td><%= player.games %></td>
			<td><%= player.points %></td>
			<td><%= player.nhl_goals %></td>
			<td><%= player.nhl_assists %></td>
			<td><%= number_to_currency player.salary, precision: 0 %></td>
			<td><%= player.power_play %></td>
			<td><%= player.even_strength %></td>
			<td><%= player.draft_year %></td>
			<td><%= player.draft_position %></td>
			<td><%= player.age %></td>
			<td><%= player.contract %></td>
			<td><%= player.info %></td>
			<td><%= player.dff %></td>
			<td><%= player.reldff %></td>
			<td><%= player.g60 %></td>
			<td><%= player.p60 %></td>
			<td><%= link_to 'Edit', edit_player_path(player) %></td>
			<td>
				<%= form_for player do |f| %>
					<%= f.select :drafted, Player::POOLERS %>
					<%= f.submit "Draft" %>
				<% end %>
			</td>
			<td>
              <%= form_for player do |f| %>
                <%= f.select @which_rank, options_for_select(
                  @choices_rank,
                  @default_rank
                  )
                %>
				<%= f.submit "Rank" %>
              <% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
